include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt

recursive-include pygorithm *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
